<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alumnos</title>
</head>
<body>
<form>
    <fieldset>
        <legend>Prueba Datalist</legend>
        <label>Buscar: <input type="text" name="agenda" list="agenda" />
            <datalist id="agenda">
                {% for alumno in listado_alumnos %}
                    <option value="{{alumno.nombre}}"></option>
                {% endfor %}
            </datalist>
        </label>
    </fieldset>
</form>
    <p>Datos de alumnos</p>
    {% for alumno in listado_alumnos %}
    <p>El nombre del alumno es {{alumno.nombre}} {{alumno.apellido}} con DNI: {{alumno.dni}}</p>
    {% endfor %}

    <a href="{% url 'inicio' %}"> Inicio </a>
</body>
</html>